.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
    visibility: hidden;
}


.ant-table-column-sorter-up {
    transform: translateY(40%);
}

.ant-table-column-sorter-down {
    transform: translateY(-20%);
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
    visibility: visible;
}
